header
	h1.logos
		a.logobanco(method='post',href='/')
			img.logo(src='img/prueba2.png') 
	nav.nav
		ul
			li(class='green')
				p.opcion
					a.n(href="#") Usuario
				p(class='subtext')
					a.n#various1(href="#inline1") Login
						div(style="display: none;")
							div#inline1
								div#la
									form(method="post",action="/login/id")
										labe#nomb(for="usuario") Usuario 		
										input#nomb(type="text",name="usuario",required,autofocus)
										br
										labe#cedu(for="Contrase침a") Contrase침a     
										input#cedu(type="password",name="Contrase침a",required)
										br
										input#btnIni(type="submit",value="Iniciar")
			li.yellow
				p.opcion
					a.n(href='#') Transacciones
				p.subtext 
					a.n(href='/login2') Consignaci칩n
					br/
					a.n(href='/') Retiro
					br/
					a.n(href='/') Transferencia
			
			li.red
				p.opcion
					a.n(href='#') Movil
				p.subtext 
					a.n(href='/') Movistar
					br/
					a.n(href='/') Claro
					br/
					a.n(href='/') Tigo 
					
			li.blue
				p.opcion
					a.n(href='#') Saldo
				p.subtext 
					a.n(href='/') Ahorros
					br/
					a.n(href='/') Corriente
			
			li.purple
				p.opcion
					a.n(href='#') Registro
				p.subtext 
					a.n(href='/registro') Usuario Nuevo
					br
					a.n(href='/buscar') Buscar Usuario
block contenido
	