extends layout
block content
 include layout2
 block contenido
   
   article#formula
    div#mula
     form(method="post",action="/index")
      labe#nombre(for="nombre") Nombre 		
      input#nombres(type="text",name="nombre",required,autofocus)
      br
      labe#apellido(for="Apellido") Apellido    
      input#apellidos(type="text",name="apellido",required)
      br
      div#fecha
       labe#nace(for="fechanaci") Fecha de Nacimiento
       br
       labe#dia(for="dia") Día
       select(type='number',name='dia',required)
        -for(var i = 1; i<32; i++)
          option #{i}
       labe#mes(for="mes") Mes
       select(type='number',name='mes',required)
        -for(var i = 1; i<13; i++)
          option #{i}
       labe#anio(for="anio") Año
       select(type='number',name='año',required)
        -for(var i = 2014; i>1959; i--)
          option #{i}
      br
      labe#sexo(for="Sexo") Sexo    
      select(type="text",name="sexo",required, default="F")
       option F
       option M
      br
      br
      labe#cedula(for="Cedula") Cedula     
      input#cedula(type="text",name="cedula",required)
      br
      labe#telefono(for="Telefono") Telefono	
      input#telefonos(type="text",name="telefono",required)
      br
      labe#Email(for="Email") Email 		
      input#Emails(type="email",name="correo",required)
      br
      labe#nick(for="nick") Usuario
      input(type="text", name="nick", required)
      br
      labe#contra(for="contraseña") Contraseña
      input(type="password", name="contraseña", required)
      br
      input#btnReg(type="submit",value="Registro")
   include footer