extends layout
block content
 include header
 block contenido
  if(usuarios) 
    p #{usuarios.nombre}
    p #{usuarios.cedula}
    p #{usuarios.telefono}
    p #{usuarios.correo}
    
 include footer