body{
	font-family: 'Cherry Swash', cursive;
	
	background-image: linear-gradient(bottom, rgb(187,188,191) 6%, rgb(250,252,255) 53%);
	background-image: -o-linear-gradient(bottom, rgb(187,188,191) 6%, rgb(250,252,255) 53%);
	background-image: -moz-linear-gradient(bottom, rgb(187,188,191) 6%, rgb(250,252,255) 53%);
	background-image: -webkit-linear-gradient(bottom, rgb(187,188,191) 6%, rgb(250,252,255) 53%);
	background-image: -ms-linear-gradient(bottom, rgb(187,188,191) 6%, rgb(250,252,255) 53%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.06, rgb(187,188,191)),
		color-stop(0.53, rgb(250,252,255))
	);
}

ul{
	margin:0;
	padding:0;
}

li{
	width:115px;
	height:50px;
	float:left;
	color:#191919;
	text-align:center;
	overflow:hidden;
}

.n{
	color:#FFF;
	text-decoration:none;
}

p{
	padding:0px 5px;
}

	.subtext, .opcion{
		
		color: #F60;
		font-family: 'Electrolize', sans-serif;
		font-size: 1em;

	}
	.subtext{
		padding-top:30px;
	}
	.opcion{
		padding-top: 15px;
	}

/*Menu Color Classes*/


.green, .yellow, .red, .purple, .blue{
	border-radius: .2em;
	margin: .1em;
	opacity: 3em;
	background-image: linear-gradient(bottom, rgb(26,14,138) 0%, rgb(99,133,255) 75%);
	background-image: -o-linear-gradient(bottom, rgb(26,14,138) 0%, rgb(99,133,255) 75%);
	background-image: -moz-linear-gradient(bottom, rgb(26,14,138) 0%, rgb(99,133,255) 75%);
	background-image: -webkit-linear-gradient(bottom, rgb(26,14,138) 0%, rgb(99,133,255) 75%);
	background-image: -ms-linear-gradient(bottom, rgb(26,14,138) 0%, rgb(99,133,255) 75%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(26,14,138)),
		color-stop(0.75, rgb(99,133,255))
	);
}