*{
	border: 0;
	margin: 0;
	padding: 0;
	
}
@font-face{
	font-family: 'Cherry Swash', cursive;
}

header section footer{
	display: block;
	margin: 5em;
}
header{
	background-image: linear-gradient(bottom, rgb(26,14,138) 0%, rgb(99,133,255) 75%);
	background-image: -o-linear-gradient(bottom, rgb(26,14,138) 0%, rgb(99,133,255) 75%);
	background-image: -moz-linear-gradient(bottom, rgb(26,14,138) 0%, rgb(99,133,255) 75%);
	background-image: -webkit-linear-gradient(bottom, rgb(26,14,138) 0%, rgb(99,133,255) 75%);
	background-image: -ms-linear-gradient(bottom, rgb(26,14,138) 0%, rgb(99,133,255) 75%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(26,14,138)),
		color-stop(0.75, rgb(99,133,255))
	);
}
header{
	border-radius: .2em;
	margin: 0 1em 0 1em;
}
header, .logos, .nav, #nick-header{
	
	display: inline-block;	
	vertical-align: middle;	

}
header img{	
	padding-left: 1em;
	width: 31%;

}
#nick-header{
	margin: 0 auto;
	width: 12%;
	padding-left: 2em;
}
.logos{
	width: 43%;
}
.nav{
	width: 37%;
	text-align: center;
	padding-left: 5em;
	height: 70px;
	z-index: 999; 
	
}

footer{
	color: #E1380E;
	font-family: 'Indie Flower', cursive;
	
	text-align: center;
}
footer .empresa{
	background: none;
}
.empresa{
	color: #E1380E;
	font-size: 1.5em;
}
.logobanco{
	opacity: 1;
	filter:alpha(opacity=10);
	-ms-transition: all 0.5s ease-in;
	-moz-transition: all 0.5s ease-in;
	-o-transition: all 0.5s ease-in;
	-webkit-transition: all 0.5s ease-in;
	transition: all 0.5s ease-in;
}
.logobanco:hover{
	opacity: .7;
	filter:alpha(opacity=8);
	-ms-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	-webkit-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}
.titulo{
	text-align: center;
	color: #F60;
}
#header img{
	padding-left: 1em;
	width: 59%;

}
#login{
	padding: 5.9em;
}
#tlo, #img-logo{
	
	display: inline-block;	
	max-width: 100%;
	vertical-align: middle;

}
#img-logo{
	width: 45%;
}
#tlo{
	width: 50%;
	font-size: 2.5em;
	text-shadow: 1px 1px 1px rgba(0,0,0,.2);
	color: #000000;
}
#btnReg{
	font-family: 'Electrolize', sans-serif;
	display: block;
	margin: 0 auto;
	border-radius: .2em;
	padding: .2em;
	box-shadow: 2px 2px 2px 2px rgba(0,0,0,.2);
	margin-left: 52%;
	width: 35%;
}
#formula{
	padding: 2.65em;
}
#la{
	
	border-radius: .2em;
	margin-left: 51em;
	box-shadow: 0 0 2.5px 2.5px rgba(0,0,0,.1);
}
#mula{

	width: 20%;	
	padding: 3em;
	padding-top: 2em;
	margin-left: 31em;
	box-shadow: 3px 0 2.5px 2.5px #888;
	background-image: linear-gradient(bottom, rgb(3,58,255) 6%, rgb(64,131,255) 53%);
	background-image: -o-linear-gradient(bottom, rgb(3,58,255) 6%, rgb(64,131,255) 53%);
	background-image: -moz-linear-gradient(bottom, rgb(3,58,255) 6%, rgb(64,131,255) 53%);
	background-image: -webkit-linear-gradient(bottom, rgb(3,58,255) 6%, rgb(64,131,255) 53%);
	background-image: -ms-linear-gradient(bottom, rgb(3,58,255) 6%, rgb(64,131,255) 53%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.06, rgb(3,58,255)),
		color-stop(0.53, rgb(64,131,255))
	);
}

#nombre, #cedula, #telefono, #Email, #apellido, #dia, #mes, #anio, #sexo, #contra, #nick, select, option, #nace{
	font-family: 'Electrolize', sans-serif;
	color: #1C1C1C; 
	text-shadow: 1px 1px 0px rgba(0,0,0,.2);
	
}
#cedula, #sexo{
	
}

#mula input[type="text"],#mula label,#mula input[type="email"], #mula input[type="number"], #mula input[type="password"], #mula input[type="text"] #fecha, #nace{
	display: block;
}
select {
	margin: .3em;
}
#mula input[type="text"],#mula input[type="email"],#mula input[type="number"], #mula input[type="password"], #mula input[type="text"]
{
	width: 85%;
	border: 1px solid #838484;
	padding-left: 5px;
	box-shadow: 0px 1px 3px  rgba(0,0,0,.7);
	
}
@media screen and (min-width: 1081px){

	
	
	
}